@lightBlue: #0080EC;
@fadeBlue: #ECF6FE;
@blue: #006DB8;
@deepBlue : #1E234B;
@gray : #EBEAEA;
@deepGray : #B6B6B7;
@lightGray : #F2F2F2;
@orange : #F47935;
@lightOrange : #FDF3E5;
@gold : #CBA145;
@yellow : #FDD100;
@deepYellow: #fdb933;
@black : #4f5555;
@green: #00ae9d;
@red: #ed1941;
@white: #FFF;

@mainColor : #366092;//主色
@tableBgColor:#f0f4fa;//表格背景色辅色
@bgColor:#373d41;//背景色辅色

//PC 端首页的导航分割线颜色
@nav-spliceLineColor : #373d41;

//PC 端首页的导航鼠标点击，移动上去的颜色
@nav-bgColor : #95B3D7;

//PC 端首页的导航颜色
@pc_bodyContainer_navBGColor:#24282C;
//PC 端首页的背景颜色
@pc_bodyContainerBGColor :#E8EEF8;
.pc_bodyContainerBGColor{
    background-color:@pc_bodyContainerBGColor !important;
}
                                                                                                                                                                                       