<div ng-controller="organizationCtrl" class="pc_body " >
	<style>
		.organization {}
	</style>
	<div class="h-100 w-100 organization">
		<!-- 左右缩放布局 -->
		<app-left-right-layout left-width="444px" class="h-100" left-style="border:1px solid black;" right-style="" center-style="p-t-27">
			<left class="h-100">
				<!-- 左边模仿移动端列表 -->
				<app-page-panel   width="100%" height="100%" head-style='2' class="animated fadeIn" header="我的组织2" callback="clickAddBtn()" >
					<div class="h-100 normal_bg"  dw-loading="myOrganization" dw-loading-options="{text: '{{message}}...'}">
						<app-vertical-card >
							您创建或加入了{{organizations.length}}个组织
						</app-vertical-card>
						<div ng-init="init()" style="height:calc(100% - 28px); "  >
							<!-- 滚动条 -->
							<div class="h-100 w-100" ng-scrollbars>
								<!-- 列表 -->
								<app-list-item name="organName" ui-sref=".right({entId:data.entId,createUserId:data.createUserId,enterpriseName:data.enterpriseName})"   right-btn-handler="a()" ng-repeat="data in  organizations;">
										{{data.enterpriseName}}
										{{data.entId}}
								</app-list-item>
							</div>
						</div>
					</div>
				</app-page-panel>
			</left>
			<right class="h-100">

				<div class="h-100 w-100" ui-view="right" class="animated fadeIn">

				</div>
			</right>
		</app-left-right-layout>
	</div>
</div>
