<div class="tr-height" app-loading="id" app-loading-options="{text: '加载中..'}">
	<app-input title="{{name}}">
		<oi-select title="{{placeholder}}" ng-if="!multiple" placeholder="请选择"   readonly oi-options="item.name for item in items" ng-model="ngBindModel" validator="required " name="textRows"></oi-select>
		<oi-select title="{{placeholder}}" ng-if="!!multiple" multiple placeholder="请选择"    readonly oi-options="item.name for item in items" ng-model="ngBindModel" validator="required " name="textRows"></oi-select>
	</app-input>
</div>