<div ng-controller="buildSelectCtrl" style="height:500px" app-loading="buildText" app-loading-options="{text: '{{message}}..'}">

	<app-page-panel has-header-color="false" has-border="false" callback="closeThisDialog('close')" ng-init="init()" border-weight="2px" left-btn-icon="icon ColorChangeFont  icon-float-close" header="选择构件" head-style="2" class="w-100 h-100" app-loading="buildVerticalCard" app-loading-options="{text: '{{message}}..'}">
		<form name="buildSelect">
			<app-vertical-card>
				以下内容均为必填项
			</app-vertical-card>
			<div class="w-100 clearfix color_line_right_outside color_line_left_outside">
				<app-input title="字段名称">
					<input placeholder="请输入字段名称" type="text" name="cardElementName" ng-model="form.cardElementName" validator="required ">
				</app-input>
				<app-input title="选择数据" >
					<oi-select readonly oi-options="item.name for item in buildSelectConstant.selectData " ng-model="form.textType" validator="required " name="textType"></oi-select>
				</app-input>
				<app-input title="基础数据" ng-if="showType1">
					<oi-select placeholder="请选择基础数据" readonly oi-options="item.name for item in baseData " ng-model="form.baseData" validator="required " name="textTypeh"></oi-select>
				</app-input>
				<app-input title="部门或人员" ng-if="showType2">
					<oi-select placeholder="请选择部门/人员" readonly oi-options="item.name for item in getDepUser() " ng-model="form.depUserType" validator="required " name="textTypeh"></oi-select>
				</app-input>
				
				<app-input title="单选/多选">
					<oi-select readonly oi-options="item.name for item in buildSelectConstant.selectType" ng-model="form.selectType" validator="required " name="textRows"></oi-select>
				</app-input>
				<app-input title="构件属性">
					<oi-select multiple readonly oi-options="item.name for item in buildSelectConstant.cardElementAttribute" ng-model="form.cardElementAttribute" validator="required " name="cardElementAttribute"></oi-select>
				</app-input>
				<app-input title="列表内容" ng-if="hasCardElementAttribute(form.cardElementAttribute,3)">
					<oi-select readonly oi-options="item.name for item in positionConstant" ng-model="form.position" validator="required " name="position"></oi-select>
				</app-input>

				<app-input title="提示">
					<input type="text" placeholder="请输入提示文字,不能超过20字" name="cardElementDesc" ng-model="form.cardElementDesc" name="cardElementDesc">
				</app-input>
				
			</div>
			<div style="width:100%; bottom:0 ; height:28px;left:0" class="p-a">
				<div style="width:calc(100% / 2); " class="cutting-line f-l app-submitBtn f-small" validation-submit="buildSelect" ng-click="save()">保 存</div>
				<div style="width:calc(100% / 2); " class="f-l app-submitBtn f-small" ng-click="closeThisDialog('cancel')">取 消</div>
			</div>
			
			
		</form>

	</app-page-panel>
</div>