<div ng-controller="mainCtrl" class="pc_body pc_bodyContainerBGColor">
	<div class="bg-green h-100 ">
		<div style="width: 100px; height: 20px; background-color:gray;" moment-picker="mydate"
		     format="YYYY">
		    {{ mydate}}
		</div>
		<app-year-selector ng-model="name"></app-year-selector>
		<app-page-panel width="300px" height="40%" head-style='2' class="animated fadeIn" border="1px solid red">
			<div ng-repeat="item in items">{{item}}</div>
			<div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
				
				<div ng-repeat='item in reddit.items'>
					{{item}}
				</div>
				 <div class="text-center" ng-show='reddit.busy'>Loading data...</div>
			</div>
		</app-page-panel>
		
		<button ng-click="add()">添加</button>
		
		<app-left-right-layout left-width="300px" class="h-20" left-style="bg-blue" right-style="bg-gray" center-style="p-t-15">
			<left >
				 Loremsssssssssssssssssssssssssssssssssssssssssssssssssssssss ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quis aperiam ad voluptate placeat illo sapiente quo consectetur omnis possimus quibusdam sint repellendus facilis voluptatibus ipsam obcaecati accusamus consequatur enim.
			</left>
			<right>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ipsam distinctio quibusdam recusandae culpa sint quasi sit quidem. Incidunt autem quia corrupti quam quaerat eum eaque magnam alias neque quibusdam?
			</right>
		</app-left-right-layout>
	</div>
	<!--<div class="w-100 h-66px p-a t0  bg-gray" >
		<a ui-sref=".page1" ui-sref-active="active">
			<首页
		</a>
		<a ui-sref=".page2" ui-sref-active="active">
			<p>订单</p>
		</a>
		<a ui-sref="/my" ui-sref-active="active">
			<p>我的</p>
		</a>
	</div>
	<div class="p-a w-100 h-100 bg-blue overflow-h">
		<div ui-view class="view bg-green h-100 p-10">
			
		</div>	
	</div>-->
	
</div>

